body {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-gap: 10px;
	padding: 10px;
}

#chat-list {
	border: 1px solid black;
	padding: 10px;
}

#chat-area {
	border: 1px solid black;
	padding: 10px;
}

#message-form {
	margin-top: 10px;
}

#message-input {
	width: 100%;
	padding: 5px;
}

#message-form button {
	float: right;
	padding: 5px;
}